body{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.texto-tabla{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

p{
    font-weight: 600;
}

p:hover{
    translate: -10px ;
}